<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>
<body>
    EJS no Tech Academy
    <ul>
        <% for(let i=0; i<articles.length; i++) {%>
            <li>
                <a href="./artigos/<%= articles[i].id %>">
                    <%= articles[i].title %>
                </a>
            </li>
        <%}%>
    </ul>
    <%- include('../layout/footer.ejs') %>
</body>
</html>